.document-item {
    position: relative;
    top: -50px;
    height: 350px;
    flex-basis: 45%;
    background-color: rgb(246, 246, 246);
    margin-bottom: 25px;
    transition: transform 300ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    p {
        font-size: 17px;
        font-weight: 200;
        color: rgba(0, 0, 0, 0.424);
    }
}

.document-item:hover {
    transform: scale(1.03);
}

